*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}
main {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  background: #f3f3f3;
}
.header {
  padding-top: 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.logo img {
  padding-left: 0.5rem;
  width: 50px;
}
.icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.socil-icon li {
  list-style-type: none;
  display: inline-block;
  padding: 0 0.5rem;
  cursor: pointer;
}
.banner {
  width: 100%;
  height: 400px;
  position: relative;
  background: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
    no-repeat center/cover;
  overflow: hidden;
}
.banner::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(8, 4, 20, 0.335);
  z-index: 1;
}
.hero-contant {
  color: white;
  z-index: 7;
  top: 55%;
  left: 20%;
  position: absolute;
  transform: translate(-20%, -55%);
  -webkit-transform: translate(-20%, -55%);
  -moz-transform: translate(-20%, -55%);
  -ms-transform: translate(-20%, -55%);
  -o-transform: translate(-20%, -55%);
}
.hero-contant h3 {
  text-align: start;
  font-size: 2.5rem;
}
.hero-contant .hero-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: #6b63d3;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.hero-btn:hover {
  border-radius: 0;
  background: linear-gradient(to right, #32289b, #6b63d3, #6b63d3);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
/* feature */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.section-heading {
  padding: 1rem 0;
  text-align: center;
  font-size: 2.5rem;
}
.grid-item {
  box-shadow: 0.01rem 0.01rem 0.3rem rgb(170, 170, 170);
  margin: 0.5rem;
}
.grid-item img {
  width: 100%;
  height: 170px;
}
.grid-item p {
  text-align: justify;
}
.feature-heading,
.grid-item p {
  padding: 0.5rem;
}
.grid-item a {
  margin: 0.5rem;
  padding: 0.4rem 1rem;
  display: inline-block;
  background: #ff6161;
  color: white;
  text-transform: uppercase;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.star li {
  display: inline-block;
}
.star li img {
  width: 15px;
  height: 15px;
}
.category {
  padding: 1rem 0 0 0;
}
.grids {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
.grid-item-1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}
.grids img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-item-1,
.grid-item-2,
.grid-item-3 {
  position: relative;
  overflow: hidden;
}
.overlay {
  opacity: 0;
  width: 6rem;
  height: 6rem;
  background: rgba(70, 54, 214, 0.301);
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: scale(0.2);
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
}
.grids .grid-item-1:hover .overlay,
.grids .grid-item-2:hover .overlay,
.grids .grid-item-3:hover .overlay {
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform-origin: center;
}
.contant {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: white;
}
.contant::after,
.contant::before {
  position: absolute;
  content: "";
  background: rgb(255, 255, 255);
}
.contant::after {
  bottom: -0.5rem;
  left: -0.6rem;
  width: 127%;
  height: 0.1rem;
}
.contant::before {
  left: -1rem;
  top: -10%;
  height: 120%;
  width: 0.1rem;
}
.contant h4 {
  padding: 0.3rem 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: -1rem;
  z-index: 222;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.contant a {
  color: white;
  padding: 0.3rem 1rem;
  background: #f16068;
  display: inline-block;
  font-weight: 600;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}
.contant a:hover {
  letter-spacing: 0.1rem;
}
.footer {
  background: #1a263a;
  padding: 1rem 0;
}
.footer-link li {
  display: inline-block;
}
.footer li a {
  color: white;
}
@media (orientation: portrait) {
  body {
    font-size: 90%;
  }
  .hero-contant h3 {
    font-size: 1.4rem;
  }
  .banner {
    width: 100%;
    height: 250px;
  }
  .grid-item {
    margin: 0.5rem;
  }
  .grid-item img {
    width: 100%;
  }
}
